<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Learn with Youtube</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/tomorrow.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/demo.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>
<body>

<div class="header">
  <h1>Learn With Youtube</h1>
</div>


<div class="row">
  <div class="leftcolumn">
    <div class="card">
        <form id="upload-list" method="post" enctype="multipart/form-data">
          <h2>Enter a list of Youtube songs/videos that have English captions:</h2>
          <textarea id="vlist" name="vlist" rows="5" cols="33">https://www.youtube.com/watch?v=Qpk4bJOls0g https://www.youtube.com/watch?v=FWT9FJ7aQq4</textarea>
          <button type="submit" class="btn btn-default">Process</button>
        </form>
    <img src="{{ url_for('static', filename='img/loading.gif') }}" id="loading-image" style="display:none;">
    </div>

    <div class="card" id="list_wrapper" style="display: none;">
        <div id="video_list">

        </div>
    </div>

    <div class="card" id="results" style="display: none;">
        <div id="video-placeholder" style="display: none;"></div>
<div id="leid">
    <ul>
    </ul>

</div>
    </div>

  </div>
  <div class="rightcolumn">
      <div class="card">

          <h3>Change the speed:</h3>
            <select id="speed">
                <option>0.25</option>
                <option>0.5</option>
                <option selected="selected">1</option>
                <option>1.5</option>
                <option>2</option>
            </select>
       </div>
    <div class="card">
      <h2>About</h2>
      <p>This application uses lexical diversity to sort your chosen youtube videos and helps you follow along with your video and repeat sentences as many times as you want.</p>
    </div>
    <div class="card">
      <a href="https://github.com/mourhafkz">@Mourhaf Kazzaz</a>
    </div>
  </div>
</div>

<div class="footer">
  <h2>2022</h2>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
  <script src="{{ url_for('static', filename='js/form.js') }}"></script>
  <script id="reload" src="{{ url_for('static', filename='js/script.js') }}"></script>


</body>
</html>